
.motherbox{
    width: 1000px;
    height: 1500px;
    background-color: #FBE4FF;
    margin: 0 auto;
    margin-top: 100px;
}

.header{
    width: 1000px;
    background-color: #243B93;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 40px;    
}
.header1{
    width: 90px;
    height: 35px;
    margin-left: 120px;
    float: left;
}
.header2{
    width: 70px;
    height: 35px;
    margin-left: 60px;
    float: left;
    color: aliceblue;
    text-align: center;
    padding-top: 10px;
}

.header3{
    width: 70px;
    height: 35px;
    margin-left: 30px;
    float: left;
    color: aliceblue;
    text-align: center;
    padding-top: 10px;
}
.header4{
    width: 70px;
    height: 35px;
    margin-left: 30px;
    float: left;
    color: aliceblue;
    text-align: center;
    padding-top: 10px;
}
.header5{
    width: 70px;
    height: 35px;
    margin-left: 30px;
    float: left;
    color: aliceblue;
    text-align: center;
    padding-top: 10px;
}
.header6{
    width: 70px;
    height: 35px;
    margin-left: 30px;
    float: left;
    color: aliceblue;
    text-align: center;
}
.header7{
    width: 45px;
    height: 35px;
    margin-left: 60px;
    float: left;
}

.header8{
    width: 30px;
    height: 35px;
    float: left;
    color: aliceblue;
    margin-top: 15px;
}

.bron{
    width: 880px;
    background-color: #BFF0FF;
    padding-left: 120px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.link{
    width: 750px;
    height: 30px;
    background-color: white;
    margin-left: 119px;
    margin-top: 15px;
    text-align: center;
    padding-top: 5px;
    opacity: .7;
}

.kartka1{
    width: 750px;
    height: 180px;
    background-image: url("картка\ \(1\).png");
    margin-left: 119px;
    margin-top: 15px;
    background-size: 100%;
    padding-bottom: 20px;
}

.kartka1:hover{ 
    background-color: #2CBDEB;
    box-shadow: -3px -3px 12px 12px rgb(139, 193, 243);
}
.kartka11{
    width: 260px;
    height: 180px;
    background-image: url("бакота.png");
    background-repeat: no-repeat;
    background-size: 120%;
    display: inline-block;
    margin-top: 15px;
    margin-left: 25px;
    margin-bottom: 25px;
}
.kartka12{
    width: 445px;
    height: 190px;
    float: right;
    margin-left: 20px;
    margin-bottom: 30px;
}
.kartka12a{
    width: 410px;
    height: 20px;
    float: left;
    color: #353C57;
    border: 2px solid white;
    margin-top: 10px;
    border-left: #243B93;
    border-right: #243B93;
    border-top: #243B93;
}
.kartka12b{
    width: 30px;
    height: 30px;
    float: right;
    background-image: url("зірка.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.kartka12b:hover{
    background-image: url("зірка2.png");
}

.kartka12c{
    width: 349px;
    height: 130px;
    margin-top: 40px;
    background-color: white;
    z-index: 1;
    padding: 10px;
    padding-right: 50px;
}
.kartka12d{
    width: 130px;
    height: 30px;
    z-index: 2;
    float: right;
    margin-top: -20px;
    margin-right: -15px;
    background-image: url("кнопки\ \(2\).png");
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    color: white;
    padding-top: 2px;
}
.kartka12d:hover{
    background-image: url("кнопки\ \(1\).png");
}

.kartka2{
    width: 750px;
    height: 190px;
    background-image: url("kart.png");
    background-size: 110%;
    background-repeat: no-repeat;
    margin-top: 10px;
}
.kartka2:hover{
    background-color: #2CBDEB;
    box-shadow: -3px -3px 10px 12px rgb(139, 193, 243);
}

.kartka21{
    width: 260px;
    height: 160px;
    background-color: #BFF0FF;
    float: left;
    margin-top: 20px;
    margin-left: 25px;
    background-image: url("пирлина\ карпат.png");
    background-repeat: no-repeat;
    background-size: 111%;
}
.kartka22{
    width: 442px;
    height: 160px;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}

.kartka22a{
    width: 410px;
    height: 22px;
    border: 2px solid white;
    color: #353C57;
    border-top: white;
    border-left: #FBE4FF;
    border-right: #353C57;
    float: left;
}
.kartka22b{
    width: 30px;
    height: 30px;
    float:right;
    background-image: url("зірка.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.kartka22b:hover{
    background-image: url("зірка2.png");
}
.kartka22c{
    width: 350px;
    height: 130px;
    margin-top: 30px;
    background-color: aliceblue;
    padding-left: 10px;
    padding-right: 50px;
    padding-top: 10px; 
    z-index: 1;
}
.kartka22d{
    width: 130px;
    height: 30px;
    z-index: 2;
    float: right;
    margin-top: -23px;
    margin-right: -15px;
    background-image: url("кнопки\ \(2\).png");
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    color: white;
    padding-top: 2px;
}
.kartka22d:hover{
    background-image: url("кнопки\ \(1\).png");

}
.kartka3{
    width: 750px;
    height: 190px;
    background-image: url("kart.png");
    background-size: 110%;
    background-repeat: no-repeat;
    margin-top: 25px;
}
.kartka3:hover{
    background-color: #2CBDEB;
    box-shadow: -3px -3px 10px 12px rgb(139, 193, 243);
}
.kartka31{
    width: 260px;
    height: 160px;
    background-color: #BFF0FF;
    float: left;
    margin-top: 20px;
    margin-left: 25px;
    background-image: url("автентична київщина.png");
    background-repeat: no-repeat;
    background-size: 111%;
}
.kartka32{
    width: 442px;
    height: 160px;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}
.kartka32a{
    width: 410px;
    height: 22px;
    border: 2px solid white;
    color: #353C57;
    border-top: white;
    border-left: #FBE4FF;
    border-right: #353C57;
    float: left;
}
.kartka41{
    width: 260px;
    height: 160px;
    background-color: #BFF0FF;
    float: left;
    margin-top: 20px;
    margin-left: 25px;
    background-image: url("нетипова одещина.png");
    background-repeat: no-repeat;
    background-size: 111%;
}
.link2{
    width: 880px;
    height: 550px;
    background-image: url("1.png");
    margin-top: 700px;
    background-size: 100%;
    background-repeat: no-repeat;
   padding-left: 120px;
   padding-top: 12px;
}
.rec{
    width: 750px;
    height: 600px;
    background-image: url("Rectangle\ 62.png");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: -500px;
    margin-left: 120px;
}
.rec1{
    width: 300px;
    height: 280px;
    float: left;
}
.rec2{
    width: 400px;
    height: 280px;
    float: left;
}
.rec11{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-top: 40px;
    background-image: url("іконка.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.rec12{
    width: 120px;
    height: 40px;
    background-image: url("кнопки\ \(2\).png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 90px;
    margin-top: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.873);
    padding-top: 1px;
}
.rec13{
    width: 120px;
    height: 40px;
    background-image: url("кнопки\ \(1\).png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 90px;
    text-align: center;
    color: rgba(255, 255, 255, 0.873);
    padding-top: 1px;
}
.rec21{
    width: 300px;
    height: 30px;
    border: 2px solid white;
    margin-top: 10px;
    margin-left: 50px;
    border-left: #243B93;
    border-right: #243B93;
    border-top: #243B93;
    color: #353C57;
    padding-top: 10px;
}
.finish{
    width: 150px;
    height: 80px;
    background-image: url("кнопки\ \(2\).png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: -300px;
    margin-left: 450px;
    color:  rgba(255, 255, 255, 0.873);
    text-align: center;
    padding-top: 3px;
}
#fixed-div{
    width: 70px;
    height: 70px;
    text-align: center;
    padding-top: 20px;
    border-radius: 10%;
    position: fixed;
    bottom: 100px;
    right: 150px;
    background-image: url("фон\ кнопки\ вверх.png");
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: .3;
}