div.one {
    max-width: 1400px;
    text-align: center;
    margin: 10px auto;
    position: static;
    background-color: #f0fff0;
    border: 1px solid;
    min-height: 600px;
    border-color: #f0fff0;
 }
 div.two {
            
    position:absolute;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: black;
    width: 30%;
    height: 65%; 
    text-align: center;
    color: white;
    
    
    }

    div.Rectangle {
        position:absolute;
            
        top: 225px;
        left: 50px;
        width: 78%;
        height: 50px;
        background-color:rgb(3, 3, 3);
        border: 4px solid
        
        
    }

    div.Rectangle2 {
        position:absolute;
        
        top: 320px;
        left: 50px;
        width: 78%;
        height: 50px;
        background-color:rgb(3, 3, 3);
        border: 4px solid

}
   div.Rectangle3 {
        position:absolute;
        text-align: center;
        text-color: white
        top-300px;
        left: 50px;
        width: 78%;
        height: 50px;
        background-color:rgb(3, 3, 3);
        border: 4px solid black
        
        

}
