
html{
    font-size: 20px;
    font-family: 'Edu NSW ACT Foundation', cursive;
}


header, footer{
    width: 800px;
    height: 200px;
    background-color: blue;
   
    position: relative;
}
main{
    width: 800px;
    height: 500px;
    display: flex;
}
section{
    flex-grow: 1;
    background-color: rgb(255, 17, 0);
}
article{
    background-color: yellow;
    flex-grow: 2;
}
.container{
    width: 800px;
    margin: auto;
}
@media screen and ( max-width:1400px){
    
    .container, main, header, footer{
        width: 1200px;
       

    }
}

@media screen and ( max-width:1200px){
    
    html{
        font-size: 20px;
        font-family: 'Noto Sans Mono', monospace;
        font-style: italic;
    }
    .container, main, header, footer{
        width: 900px;

    }
}

