
body{
    margin: 0;
}
.positioned{
    margin: 0;
    height: 15vh;
    background-color: #000000;
    top: 0;
    position: sticky;
    display: flex;
    flex-basis: 1250px;
    justify-content: space-between;
    font-family: rosario;
    z-index: 2;
}
.seite{
   min-height: 90vh;
   border: 1px solid black;
}

.head{
    width: 220px;
    background-color: white;
    background-image: url("klipartz\ 1.png");
    background-repeat: no-repeat;
    background-size: 90%;
}
.h{
    width: 120px;
    height: 50px;
    margin-left: 10px;
    margin-top: 30px;
    text-align: center;
    color: white;
    font-family: Rosario;
    font-style: italic;
    font-size: x-large;
    padding-top: 10px;
}

.h1{
    width: 1250px;
    display: flex;
    flex-direction: row;
    flex-basis: 1250px;
    justify-content: end;
}

.R{
    width: 1475px;
    height: 650px;
    display: flex;
    justify-content: space-between;
    flex-basis: 100px;
    overflow: hidden;
}

.R1{
    width: 320px;
    height: 550px;
    margin-top: 10px;
    animation: R1 1s linear;
    position: relative;
    animation-fill-mode: forwards;
    z-index: 1;  
}

@keyframes R1{
    from,
    to{
        left: -400px;
    }
    100%{
    left: 30px;
     }
}

.R2 {
    position: relative;
    right: 0;
    width: 320px;
    height: 550px;
    margin-top: 10px;
    animation: R2 1s linear;
    animation-fill-mode: forwards;
    z-index: 1;
    
  }
  
  @keyframes R2 {
    from,
    to{
        right: -400px;
    }
    100% {right: 40px;}
  }

  .R1a{
    width: 320px;
    height: 260px;
    margin-top: 20px;
    border-radius: 15px;
  }
  .An1{
    width: 300px;
    height: 400px;
    margin-top: 80px;
    animation: An1 1s linear;
    position: relative;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    transform: translate(-100%);
    z-index: 1;    
  }
  @keyframes An1{
    from,
    to{
        left: -40px;
    }
    100%{left:  390px; }
 }
.An2{
    width: 300px;
    height: 400px;
    margin-top: 80px;
    animation: An2 1s linear;
    position: relative;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    transform: translate(110%);
    z-index: 1;   
 }
  @keyframes An2{
    from,
    to{
        right: -40px;
    }
     100%{right:  420px;}
}
.Service{
    width: 1000px;
    height: 650px;
    border: 1px solid black;
  
}
.Service1{
    width: 1000px;
    height: 650px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    animation-name: Service1a;
}



.Service1b{
    width: 250px;
    height: 300px;
    animation: Service1b 7s linear infinite;
    position: relative;
    margin-top: 10px;
    margin-left: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: x-large;
    font-family: rosario;
    font-style: italic;
}
@keyframes Service1b{
    
    0% {
        left: 40px;
        top: 30px;
    }
    25% {
        left: 400px;
        top: 30px;
    }
    50% {
        left: 400px;
        top: 350px;
    }
    75% {
        left: 40px;
        top: 350px;
    }
    100%{
        left: 40px;
        top: 30px;
    }
}

.Service1c{
    width: 250px;
    height: 300px;
    animation: Service1c 7s linear infinite;
    position: relative;
    margin-top: 40px;
    margin-left: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: x-large;
    font-family: rosario;
    font-style: italic;
}
@keyframes Service1c{
    
    0% {
        left: 400px;
        top: -300px;
    }
    
    25% {
        left: 400px;
        top: 0px;
    }

    50% {
        left: 40px;
        top: 0px;
    }
    75%{
        left: 40px;
        top: -300px;
    }

    100% {
        left: 400px;
        top: -300px;
    }
}

.Service1d{
    width: 250px;
    height: 300px;
    animation: Service1d 7s linear infinite;
    position: relative;
    margin-top: 40px;
    margin-left: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: x-large;
    font-family: rosario;
    font-style: italic;
}

@keyframes Service1d{
    
    0% {
        left: 400px;
        top: -350px;
    }
    
    25% {
        left: 40px;
        top: -350px;
    }

    50% {
        left: 40px;
        top: -640px;
    }
    75%{
        left: 400px;
        top: -640px;
    }

    100% {
        left: 400px;
        top: -350px;
    }
}

.Service1e{
    width: 250px;
    height: 300px;
    animation: Service1e 7s linear infinite;
    position: relative;
    margin-top: 40px;
    margin-left: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: x-large;
    font-family: rosario;
    font-style: italic;
}

@keyframes Service1e{
    
    0% {
        left: 40px;
        top: -690px;
    }
    25% {
        left: 40px;
        top: -1000px;
    }
    50% {
        left: 400px;
        top: -1000px;
    }
    75%{
        left: 400px;
        top: -690px;
    }
    100% {
        left: 40px;
        top: -690px;
    }
}


.Meet {
    width: 1380px;
    height: 90px;
    border: 1px solid black;
    margin-top: 10px;
    margin-left: 50px;
    font-family: Rosario;
    font-size: 50px;
    text-align: center;
    padding-top: 20px;  

}


.Navedennya{
    width: 1470px;
    height: 700px;
    border: 1px solid black;
    display: flex;
}

.Navedennya1{
    width: 1470px;
    height: 550px;
    border: 1px solid black;
    display: flex;
    z-index: 1;
}

.Navedennya1:hover{
    filter: contrast(1.1) brightness(1.1) grayscale(0.01) invert(0.35);
    
}


.n {
    width: 473px;
    height: 550px;
    border: 1px solid black;
    margin-left: 20px;
   
   
}

.n:hover {
    
    width: 473px;
    height: 550px;
    border: 1px solid black;
    margin-left: 20px;
   background-image: url("Rectangle\ 20.png");
   filter:"none blu";
 
   

}

///filter: contrast(1.1) brightness(1.1) grayscale(0.01) invert(0.35);///
 
  