

    .ste{
        margin: 0;
        width: 200px;
        height: 10vh;
        background-color: brown;
        top: 0;
        position: sticky;
    }



.sx{
    width: 130px;
    height: 130px;
    background-color: brown;
   
   
   
}
.sx2{
    width: 300px;
    height: 130px;
    background-color: rgb(93, 42, 165);
  
   
}
.sx3{
    width: 500px;
    height: 130px;
    background-color:orange;
    
    

    
    
}



.section{
    
    height: 200px;
    overflow: auto;
    margin-top: 200px;
}
#fixed-div{
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 100px;
    right: 10px;
    background-color: blue;
}
#fixed-div:hover {
    width: 150px;
    height: 150px;
    text-align: center;
    background-color: blueviolet;
    
}