.header{
    width: 1100px;
    height: 65px;
    background-color: #212529;;
    margin-left: 230px;
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}
.header1{
    width: 50px;
    height: 50px;
    margin-top: 10px;
}
.header2{
    width: 400px;
    height: 50px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
}
.header21{
    width: 60px;
    color: white;
    text-align: center;
    padding-top: 26px;
}
.header21:hover{
    color: #FFB742;
}
.body{
    width: 900px;
    height: 2600px;
    background-color: #212529;
    margin-left: 230px;
    padding-left: 100px;
    padding-right: 100px;
}
.body1{
    width: 700px;
    height: 300px;
    margin: 0 auto;
    padding-top: 70px;
}
.body11{
    width: 680px;
    height: 30px;
    text-align: center;
    color: white;
    float: left;
}
.yellow{
    color: #FFB742;
}

.li2 :hover .yellow{
    color: black;
}


.body12{
    width: 120px;
    height: 120px;
    display: inline-block;
    margin-left: 310px;
    margin-top: 20px;
    background-image: url("./avataaars\ 1.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.l{ 
    width: 900px;
    height: 80px;
    display: inline-flex;
    justify-content: space-around;
}
.li{
    width: 290px;
    height: 80px;
    border-radius: 10px;
    background-color: #292B2E;
    color: white;
    text-align: center;
    display: inline-flex;
}
.li:hover {
    background-image: url("./Rectangle\ 6.png");
    color: black;
}
.li1{
    width: 30px;
    height: 30px;
    margin-top: 25px;
    display: inline-flex;
    margin-left: 20px;
}
.li2{
    width: 160px;
    height: 40px;
    margin-left: 30px;
    margin-top: 25px;
}
/*.li2:hover{
    color: cyan;
    background-color: greenyellow;
}*/
.li3{
    width: 30px;
    height: 30px;
    margin-top: 25px;
    display: inline-flex;
    margin-left: 20px;
    float: left;
    text-align: center;
    padding-top: 13px;
}
.about{
    width: 900px;
    height: 450px;
    margin-top: 100px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}
.about1{
    width: 400px;
    height: 400px;
    background-image: url("./4.png");
    background-size: 100%;
}
.about1a{
    width: 400px;
    height: 400px;
    background-image: url("Group\ 11.png");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 40px;
}
.about2{
    width: 450px;
    height: 400px;
    display: block;
}
.about2a{
    width: 100px;
}
.about2b{
    width: 450px;
    height: 180px;
    color: white;
    opacity: .7;
}
.about2c{
    width: 300px;
    height: 50px;
    color: white;
}
.skills{
    width: 900px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

.skills2{
    width: 400px;
    height: 350px;
    text-align: end;
}
.skills1{
    width: 450px;
    height: 350px;
}
.s11{
    width: 140px;
    height: 40px;
}
.s12{
    width: 450px;
    height: 100px;
    color: white;
}
.s13{
    width: 450px;
    height: 80px;
    color: white;
    opacity: .7;
}
.works{
    width: 550px;
    color: white;
    margin: 0 auto;
}
.w1{
    width: 140px;
    height: 40px;
    margin-left: 220px;
    text-align: center;
}
.w2{
    width: 340px;
    height: 40px;
    margin-left: 100px;
    text-align: center;
}
.w3{
    width: 550px;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
.w31{
    width: 130px;
    height: 35px;
    color: white;
    text-align: center;
    padding-top: 10px;
}
.w31:hover{
    background-color: #FFB742;
    color: black;
}
.works2{
    width: 900px;
    height: 550px;
    display: flex;
    justify-content: space-between;
}
.w21{
    width: 285px;
    height: 540px;
}
.w21a{
    width: 280px;
    height: 320px;
    border-radius: 10px;
    margin-top: 10px;
}
.w21b{
    width: 283px;
    height: 200px;
    margin-top: 10px;
    border-radius: 10px;
}
.test{
    width: 900px;
    height: 420px;
    margin: 0 auto;
    margin-top: 50px;
}

.test1{
    width: 400px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    color: white;
}
.test3{
    width: 900px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.test31{
    width: 260px;
    height: 310px;
    background-image: url("./Group\ 32.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.footer{
    width: 1100px;
    height: 350px;
    background-color: #1C1C1C;
    margin-left: 230px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer1{
    width: 280px;
    height: 310px;
    margin-top: 100px;
}
.footer12{
    width: 180px;
    height: 50px;
    margin-left: 50px;
    color: white;
}
.footer12:hover{
    color: #FFB742;
}
.footer13{
    width: 180px;
    height: 25px;
    margin-left: 50px;
    color: white;
    opacity: .7;
    padding-top: 2px;
}
.footer13:hover{
    color: #FFB742;
}
A{
    color: white;
    text-decoration: none;
}
A:active{
    color: #FFB742;
}

A:hover{
    color: #FFB742;
}