
body{
    margin: 0;
}
div{
    width: 200px;
    height: 200px;
    background-color: antiquewhite;
    border:2px solid black; 
    animation: Name 5s  ease-in infinite;
    position: relative;
    margin-top: 100px;
}
p{
    margin: 0;
    height: 10vh;
    background-color: brown;
    top: 0;
    position: sticky;
}
@keyframes Name{
    from,

to {
    border: 2px solid black;
    background-color: antiquewhite;
    top: 0;
    left: 0;
}

20% {
    border: 2px solid rgb(62, 14, 184);
    background-color: rgb(246, 19, 34);
    left: 50px;

}
40% {
    border: 2px solid rgb(12, 239, 27);
    background-color: rgb(216, 236, 4);
    left: 20px;
    top: 100px;
}

60% {
    border: 2px solid rgb(234, 118, 180);
    background-color: rgb(193, 98, 9);
    left: 40px;

}

80% {
    border: 2px solid rgb(164, 161, 173);
    background-color: rgb(29, 204, 239);
    left: -40px;

}


}